@import url(http://fonts.googleapis.com/css?family=Lato|Noto+Serif|Magra);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);
body {
  margin: 0px;
  padding: 0px;
  background: #f9f9f6;
  font-size: 12pt;
  font-family: open sans, helvetica, arial;
}
a,
a:visited {
  font-weight: 700;
  font-size: bigger;
  color: #357097;
  text-decoration: none;
}
ul,
ol {
  list-style-position: outside;
}
ul {
  list-style-type: none;
}
li {
  margin-bottom: 0.8em;
}
nav {
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  z-index: 1000;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  background: white;
  font-size: 13pt;
}
nav .logo {
  float: left;
  font-size: 15pt;
  padding: 12px 0px 12px 0px;
}
nav .nav-links {
  float: right;
}
nav .nav-links li {
  display: block;
  float: left;
  font-weight: 600;
}
nav .nav-links li a {
  color: #1d75b9;
  padding: 25px 25px;
}
nav .nav-links li a:visited {
  color: #7fadf1;
}
.main {
  margin: 0px;
  padding: 0px;
  padding-top: 50px;
  z-index: 500;
}
.container {
  width: 950px;
  height: auto;
  overflow: hidden;
  margin: 0px auto;
}
.nav-container {
  width: 1100px;
}
.content {
  width: 900px;
  font-size: 12pt;
  line-height: 20pt;
  margin: 0px auto;
  margin-top: 2em;
  padding: 0px;
}
.content h1,
.content h2 {
  font-size: 16pt;
  font-family: Lato;
  text-align: center;
  display: block;
  border: none;
}
.content h2 {
  color: grey;
  font-size: 14pt;
  font-family: Lato;
  margin-top: 40px;
}
.content .heading {
  width: 750px;
  font-size: 14pt;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 30px;
}
.content .section {
  width: 800px;
  margin-bottom: 80px;
}
.content .section ul {
  padding-left: 0px;
}
.content .section ul li {
  border-left: 6px solid #eee;
  padding-left: 20px;
}
.content ul.submission-list {
  background: white;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.content ul.submission-list li {
  clear: both;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.content ul.submission-list li:first-of-type {
  font-weight: bold;
}
.content ul.submission-list li:last-of-type {
  box-shadow: none;
}
.content ul.submission-list .user,
.content ul.submission-list .time,
.content ul.submission-list .score,
.content ul.submission-list .text {
  float: left;
  padding: 5px 10px;
}
.content ul.submission-list .user {
  width: 10em;
}
.content ul.submission-list .time {
  width: 10em;
}
.content ul.submission-list .score {
  width: 6em;
}
.content ul.submission-list .text {
  font-size: 12pt;
}
.infobox {
  width: 800px;
  background: white;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #eaeaea;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.photo {
  padding: 0px;
  margin: 0px;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 130px;
}
.photo .image {
  width: 100%;
  height: 130px;
  background-image: url('/static/img/boston.png');
  background-size: cover;
  opacity: 0.7;
  position: absolute;
  top: 0;
  z-index: 1;
}
.textseparator {
  background: url(/static/img/pixel.png) repeat-x left center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.textseparator h1,
.textseparator h2 {
  padding: 0 .25em;
  display: inline;
  background: #f9f9f6;
}
.seperator {
  height: 26px;
  max-width: 871px;
  background: url('/static/img/medium-seperator.jpg');
  margin: auto;
  padding: 10px;
}
table {
  font-size: 12pt;
  border-collapse: collapse;
}
table td {
  padding: 0px;
}
table th {
  text-align: left;
  border-bottom: 3px solid #e9e9e9;
  padding: 1em;
}
table.dataset {
  width: 100%;
  background: white;
  border: 1px solid #e9e9e9;
}
table.dataset td {
  padding: 5px;
  padding: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #e9e9e9;
}
table.dataset td.datasetname {
  font-weight: bold;
}
table.register {
  width: 100%;
}
table.register tbody {
  width: 100%;
}
table.register tbody td,
table.register tbody th {
  border-bottom: none;
  text-align: left;
  vertical-align: top;
  padding: 1em;
}
table.register tbody td a,
table.register tbody th a {
  vertical-align: top;
}
table.register tbody td input,
table.register tbody th input {
  border: 1px solid #eee;
  width: 100%;
  font-size: 15pt;
}
table.register tbody td input[type=checkbox],
table.register tbody th input[type=checkbox] {
  width: auto;
}
table.register tbody th {
  width: 13em;
  text-align: right;
  vertical-align: top;
}
table.register tbody .errorlist {
  color: #ff2c2c;
  text-align: left;
}
table.register tbody .errorlist li {
  border: none;
}
form {
  background: #fff7e8;
  width: 100%;
  padding: 2em;
  text-align: center;
}
form textarea {
  width: 100%;
  height: 10em;
  border: 1px solid #e9e9e9;
  font-size: 12pt;
}
button,
input[type="submit"] {
  font-size: 15pt;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: .25em;
  color: white;
  border-radius: 2px;
  background-color: #0290ff;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid #5596B0;
  border-bottom: 1px solid #5596B0;
}
button.disabled {
  border: 1px solid grey;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  background: #f1f1f1;
  color: #808080;
}
.code {
  white-space: pre;
  font-family: Courier New;
  font-size: 10pt;
  line-height: 13pt;
  color: #1c5377;
  background: white;
  padding-bottom: 2em;
}
.footer {
  width: 500px;
  margin: 0px auto;
  padding-top: 40px;
  font-size: 9pt;
  color: black;
  text-align: center;
  position: relative;
  clear: both;
}
@media (max-width: 1200px) {
  nav {
    font-size: 12pt;
  }
  nav .logo {
    font-size: 15pt;
    padding: 12px 0px;
  }
  nav .nav-links li a {
    padding: 25px 10px;
  }
  .container {
    width: 750px;
  }
  .nav-container {
    width: 900px;
  }
  .content {
    width: 750px;
    font-size: 14pt;
  }
  .content h1,
  .content h2 {
    font-size: 15pt;
  }
  .content .heading {
    width: 500px;
    font-size: 15pt;
    line-height: 25pt;
  }
  .content .section {
    width: 750px;
    font-size: 12pt;
  }
  .infobox {
    width: 700px;
  }
}
@media (max-width: 900px) {
  nav {
    font-size: 12pt;
  }
  nav .logo {
    display: none;
  }
  nav .nav-links {
    float: none;
    text-align: center;
  }
  nav .nav-links li a {
    padding: 25px 10px;
  }
  .container {
    width: 85%;
  }
  .nav-container {
    width: 90%;
  }
  .content {
    width: 85%;
    font-size: 12pt;
  }
  .content h1,
  .content h2 {
    font-size: 15pt;
  }
  .content .heading {
    width: 65%;
    font-size: 14pt;
  }
  .content .section {
    width: 100%;
    font-size: 13pt;
  }
  .infobox {
    width: 85%;
  }
}
