@import url(http://fonts.googleapis.com/css?family=Lato|Noto+Serif|Magra);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);

@bgcolor: #f9f9f6;


html{ }

body{
  margin: 0px;
  padding: 0px;
  background: @bgcolor;
  font-size: 12pt;
  font-family: open sans, helvetica, arial;
}


a, a:visited {
  font-weight: 700;
  font-size: bigger;
	color: #357097;
  text-decoration: none;
}

ul, ol { list-style-position: outside; }
ul { list-style-type: none; }
ol { }
li { 
  margin-bottom: 0.8em;
}

nav {
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  z-index: 1000;
  box-shadow: 0 3px 3px rgba(0,0,0,.1);
  background: white;
  font-size: 13pt;

  .logo {
    float: left;
    font-size: 15pt;
    padding: 12px 0px 12px 0px;
  }

  .nav-links {
    float: right;

    li {
      display: block;
      float: left;
      font-weight: 600;

      a {
        color: rgb(29, 117, 185);
        padding: 25px 25px;
      }
      a:visited {
        color: rgb(127, 173, 241);
      }
    }
  }
}

.main {
  margin:0px;
  padding: 0px;
  padding-top: 50px;
  z-index: 500;
}


.container {
  width: 940px;
  height: auto;
  overflow: hidden;
  margin: 0px auto;
}

.content {

  width: 900px;
  font-size: 12pt;
  line-height: 20pt;
  margin: 0px auto;
  margin-top: 2em;
  padding: 0px;


  h1, h2 {
    font-size: 16pt;
    font-family: Lato;
    text-align: center;
    display: block;
    border: none;
  }
  h2 {
    color: grey;
    font-size: 14pt;
    font-family: Lato;
    margin-top: 40px;
  }

  .heading {
    width: 750px;
    font-size: 14pt;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 30px;
  }

  .section {
    width: 800px;
    margin-bottom: 80px;

    ul {
      padding-left: 0px;
      li {
        border-left: 6px solid #eee;
        padding-left: 20px;
      }
    }


  }

  ul.submission-list {
    background: white;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);

    li {
      clear: both;
      border: none;
      box-shadow: 0 2px 2px rgba(0,0,0,.1);
    }
    li:first-of-type {
      font-weight: bold;
    }
    li:last-of-type {
      box-shadow: none;
    }
    .user, .time, .score, .text {
      float:left;
      padding: 5px 10px;
    }
    .user { width: 10em; }
    .time { width: 10em; }
    .score { width: 6em; }
    .text {
      font-size: 12pt; 
    }
  }



}

.infobox {
  width: 800px;
  background: white;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #eaeaea;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}


.photo {
	padding: 0px;
	margin: 0px;
  width: 100%;
	position: relative;
  overflow: hidden;
  height: 130px;

  .image {
    width: 100%;
    height: 130px;
    background-image:url('/static/img/boston.png');
    background-size: cover;
    opacity: 0.7;
    position: absolute;
    top: 0;
    z-index: 1;
  }

}


.textseparator {
  background: url(/static/img/pixel.png) repeat-x left center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;

  h1, h2 {
    padding: 0 .25em;
    display: inline;
    background: @bgcolor;
  }
}

.seperator {
  height: 26px;
  max-width: 871px;
  background: url('/static/img/medium-seperator.jpg');
  margin: auto;
  padding: 10px;
}




table {
  font-size: 12pt;
  border-collapse: collapse;

  td {
    padding: 0px;
  }

  th {
    text-align: left;
    border-bottom: 3px solid #e9e9e9;
    padding: 1em;
  }

}
table.dataset {
  width: 100%;
  background: white;
  border: 1px solid #e9e9e9;

  td {
    padding: 5px;
    padding: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #e9e9e9;
  }

  td.datasetname {
    font-weight: bold;
  }
}

table.register {
  width: 100%;
  tbody {
    width: 100%;

    td, th {
      border-bottom: none;
      text-align: left;
      vertical-align: top;
      padding: 1em;

      a {
        vertical-align: top;
      }

      input {
        border: 1px solid #eee;
        width: 100%;
        font-size: 15pt;
      }
      input[type=checkbox] {
        width: auto;
      }

    }
    th {
      width: 13em;
      text-align: right;
      vertical-align: top;
    }
    .errorlist {
      color: rgb(255, 44, 44);
      text-align:left;
      li {
        border: none;
      }
    }

  }
}


form {
  background: #fff7e8;
  width: 100%;
  padding: 2em;
  text-align: center;

  textarea {
    width: 100%;
    height: 10em;
    border: 1px solid #e9e9e9;
    font-size: 12pt;
  }

}

button, input[type="submit"] {
  font-size: 15pt;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: .25em;
  color: white;
  border-radius: 2px;
  background-color: rgb(2, 144, 255);
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid #5596B0;
  border-bottom: 1px solid #5596B0;
}

button.disabled {
  border: 1px solid grey;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  background: rgb(241, 241, 241);
  color: rgb(128, 128, 128);
}


.code {
  white-space: pre;
  font-family: Courier New;
  font-size: 10pt;
  line-height: 13pt;
  color: rgb(28, 83, 119);
  background: white;
  padding-bottom: 2em;
}




.footer {
  width: 500px;
  margin: 0px auto;
  padding-top: 40px;
	font-size: 9pt;
	color: black;
	text-align: center;
	position: relative;
	clear: both;
}





@media (max-width: 1200px) {
  nav {
    font-size: 10pt;

    .logo {
      font-size: 15pt;
      padding: 12px 0px;
    }

    .nav-links li a {
      padding: 25px 10px;
    }
  }

  .container { width: 750px; }
 
  .content {
    width: 750px;
    font-size: 14pt;

    h1, h2 { font-size: 15pt; }

    .heading {
      width: 500px;
      font-size: 15pt;
      line-height: 25pt
    }
    .section {
      width: 750px;
      font-size: 12pt;
    }
  }


  .infobox { width: 700px; }

}
@media (max-width: 800px) {
  nav {
    font-size: 14pt;

    .logo { display: none; }

    .nav-links {
      float: none;
      text-align: center;
      li a {
        padding: 25px 4px;
      }
    }
  }
  

  .container { width: 85%; }
 
  .content {
    width: 85%;
    font-size: 12pt;

    h1, h2 { font-size: 15pt; }

    .heading {
      width: 65%;
      font-size: 14pt;
    }

    .section { 
      width: 100%; 
      font-size: 13pt;
    }
  }

  .infobox { width: 85%; }
}





