{% extends "base.html" %}

{% block content %}

<h1>Registration</h1>
<div class="section">

<form method="post" action="/accounts/register/">
  {% csrf_token %}
  <table class="register">
    <tbody><tr class="required"><th><label for="id_username">Username:</label></th><td>{{ form.username }}{{ form.username.errors }}</td></tr>
      <tr class="required"><th><label for="id_email">MIT E-mail:</label></th><td>{{ form.email }} {{ form.email.errors }}</td></tr>
      <tr class="required"><th><label for="id_password1">Password:</label></th><td>{{ form.password1 }}{{ form.password1.errors }}</td></tr>
      <tr class="required"><th><label for="id_password2">Password (again):</label></th><td>{{ form.password2 }}{{form.password2.errors}}</td></tr>
      <tr class="required">
        <th style="vertical-align: top"><label for="id_tos">Terms and Conditions:</label></th>
        <td>
         
          <p>In order to enter the MIT BigData Challenge (the “Contest”), you must agree to the 
          <a href="/static/rules.pdf">Official Rules (“Rules”)</a>. You agree that submission of an entry (“Entry”) to either the Prediction or Visualization Challenge constitutes your full and unconditional agreement to the Rules, and you represent and warrant that you have read, understood, and agree to be bound by the Rules.</p>

          <p>
          <a href="/static/rules.pdf" >Download complete copy of the Rules</a>
          </p>

          <p>A short summary of a few of the rules is provided below. However, you must agree to the complete rules to participate!</p>

          <ul style="margin-left: 0px">
              <li>One account per team, one participant must have MIT account</li>
              <li>There is no limit to your team size.</li>
              <li>Data is provided for use in the contest only. You may not post or redistribute it, or use it for purposes other than the contest.</li>
              <li>You will not attempt to use the data to extract personal information about any individual.</li>
              <li>You will provide us with your source code (if relevant)</li>
              <li>You will allow MIT and the City of Boston to copy, distribute, display, and make derivatives of your work without any compensation to you.</li>
              <li>You are the owner of your submission.</li>
              <li>We reserve the right to disqualify any entry, and you agree not to hold us liable for anything in connection with the contest.</li>
              <li>We will provide the prize to the registered account holder; teams are responsible for divvying up money amongst themselves.</li>
          </ul>    

          <p>{{ form.tos.errors }}</p>
          <p>
            <input id="id_tos" name="tos" type="checkbox" style="width: 20px; height: 20px">
            I have read and agree to the <a href="/static/rules.pdf">Official Rules</a>
          </p>
        </td>
      </tr>

      <tr><td colspan=2><input type="submit" value="Register"/></td></tr>
    </tbody>
  </table>
</form>

</div>

{% endblock %}
