<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />

	  <title>MIT Big Data Challenge</title>
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</head>

<body>
<nav>
  <div class="container">
    <div class="logo"><a href="/">MIT Big Data Challenge</a></div>
    <ul class="nav-links">
      <li><a href="/index"> Overview</a></li>
      <li><a href="/datasets"> Datasets</a></li>
      {% if user.is_authenticated %}
        <li><a href="/account">Profile</a></li>
        <li><a href="/accounts/logout">Logout</a></li>
      {% else %}
        <li><a href="/accounts/register">Register</a></li>
        <li><a href="/accounts/login">Login</a></li>
      {% endif %}
    </ul>

  </div>
</nav>


<div class="main">
  <div class="photo">
    <div class="image"></div>
  </div>

  <div class="content">
    {% block content %}{% endblock %}
    <div class="section"><div class="footer">
      <a href="http://bigdata.csail.mit.edu/">BigData@CSAIL</a>
    </div></div>
  </div>

</div>




</body>
</html>
