<!DOCTYPE html>
<html lang="en">
	<head>
	  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />

	  <title>MIT Big Data Challenge</title>
	</head>

<body>
<nav>
  <div class="container nav-container">
    <div class="logo"><a href="/">MIT Big Data Challenge</a></div>

    <ul class="nav nav-links" role="navigation">
			<li class="dropdown">
				<a href="/prediction" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown" data-target="/prediction">Prediction <b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="/prediction_test1#submit">Submit Initial Test</a></li>
				</ul>
			</li>
      <li>

			<li class="dropdown">
				<a href="/visualization" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown" data-target="/visualization">Visualization <b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="/visualization#submit">Submit Vis</a></li>
				</ul>
			</li>

      <li><a href="/datasets">Datasets</a></li>
      <li><a href="/rules">Rules</a></li>
      {% if user.is_authenticated %}
        <li><a href="/account">My Uploads</a></li>
        <li><a href="/accounts/logout">Logout</a></li>
      {% else %}
        <li><a href="/accounts/register">Register</a></li>
        <li><a href="/accounts/login">Login</a></li>
      {% endif %}
    </ul>

  </div>
</nav>


<div class="main">
  <div class="photo">
    <div class="image"></div>
  </div>
  
      <div class="nav nav-stacked">
    The MIT Data Challenge was brought to you by:<p>
<img src="http://bigdata.csail.mit.edu/sites/bigdata/files/bigdata_logo.png" alt="bigdata@CSAIL" title="bigdata@CSAIL" id="sitelogo" width="100px">
      <p>and<p>
      <img  align="center"  src="http://transportation.mit.edu/sites/default/files/translogo.png" width="100%">
      <p>
    Special thanks to our data partners:
      <p>
      <img src="http://www.cityofboston.gov/images_documents/seal%20443_tcm3-27739.png" width="150px">
            <p align="center">
      The City Of Boston
      </p>
      <p>
      <img src="http://www.telenav.com/include/pg-inc/images/logo.png" width="150px">
      <p align="center">
      
      Telenav, Inc.
      </p>

    </div> 

    <div class="content">
      {% block content %}{% endblock %}
    </div>
    
<div class="section">
    <div class="footer">
      <a href="http://bigdata.csail.mit.edu/">BigData@CSAIL</a>
    </div>
</div>

</div>



</body>
</html>
