<!DOCTYPE html>
<html lang="en">
	<head>
	  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />

	  <title>MIT Big Data Challenge</title>
	</head>

<body>
<nav>
  <div class="container nav-container">
    <div class="logo"><a href="/"><img src="http://bigdata.csail.mit.edu/sites/bigdata/files/bigdata_logo.png" width="100px">MIT Big Data Challenge</a></div>

    <ul class="nav nav-links" role="navigation">
     {% if user.is_authenticated %}
			<li class="dropdown">
				<a href="/prediction" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown" data-target="/prediction">Prediction <b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="/prediction_test1">Submit Initial Test</a></li>
				</ul>
			</li>
      <li>
    {% else %}
      <li><a href="/prediction">Prediction</a></li>
    {% endif %}


      <li><a href="/visualization">Visualization</a></li>
      <li><a href="/datasets">Datasets</a></li>
      <li><a href="/rules">Rules</a></li>
      {% if user.is_authenticated %}
        <li><a href="/account">My Uploads</a></li>
        <li><a href="/accounts/logout">Logout</a></li>
      {% else %}
        <li><a href="/accounts/register">Register</a></li>
        <li><a href="/accounts/login">Login</a></li>
      {% endif %}
    </ul>

  </div>
</nav>


<div class="main">
  <div class="photo">
    <div class="image"></div>
  </div>

  <div class="content">

    {% block content %}{% endblock %}
    <div class="section"><div class="footer">
      <a href="http://bigdata.csail.mit.edu/">BigData@CSAIL</a>
    </div></div>
  </div>

</div>




</body>
</html>
