<html>
	<head>
	  <title>MIT Big Data Challenge</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		<script src="/static/js/jquery.js"></script>
	</head>

<body>
<div class="header" style="position:absolute; top: 10; z-index:3; background-color: rgba(255, 255, 255, 0.9);">
	<div class="nav">
          <a href="/index" style="font-weight: bold; margin-right: 10px; background-color: rgba(255, 255, 255, 0.9); ">
          Overview
          </a>
          <a href="/datasets" style="font-weight: bold; margin-right: 10px; background-color: rgba(255, 255, 255, 0.9);">
          Datasets
          </a>

	</div>
</div>


<div style="margin-top: 10px; position:absolute; top:0; z-index:1">
  <img src="static/images/boston.png" style="height:100px; opacity:0.4;" />
</div>
<div style="height:100"></div>
<div class="main">
  

  {{content|safe}}


</div>
<div class="footer">
  BigData@CSAIL
<br/>
</div>



</body>
</html>
