<html>
	<head>
<!--<link href="/static/css/bootstrap.min.css" rel="stylesheet">-->

	  <title>MIT Big Data Challenge</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		<script src="/static/js/jquery.js"></script>
	</head>

<body>
<div class="nav" style="z-index:3; background-color:transparent">
          <a href="/index" style="font-weight: bold; margin-right: 10px;  ">
          Overview
          </a>
          <a href="/datasets" style="font-weight: bold; margin-right: 10px; ">
          Datasets
          </a>
</div>


<div style="margin-top: 10px; position:absolute; top:0; z-index:1">
  <img src="static/images/boston.png" style="height:100px; opacity:0.4;" />
</div>
<div style="height:100"></div>
<div class="main">
  

  {{content|safe}}


</div>
<div class="footer">
  BigData@CSAIL
<br/>
</div>



</body>
</html>
