<html>
	<head>
	  <title>MIT Big Data Challenge</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		<script src="/static/js/jquery.js"></script>
	</head>

<body>
<div class="header">
	<div class="nav">
		<a href="/" style="font-weight: bold; margin-right: 10px">
      MIT Big Data Challenge
		</a>
		<a href="/"></a>
	</div>
</div>

<!--
<h1 style="margin-top: 10px; width:100%; padding:none;">
  <div title="picture" id="coverimage"></div>
</h1>
<div class="main">
  -->

  {{content|safe}}


</div>
<div class="footer">
  BigData@CSAIL
<br/>
</div>



</body>
</html>
