{% extends "base.html" %}
{% load home_extras %}


{% block content %}

{% if user.is_authenticated %}
  {% infobox user %}
{% endif %}



<div class="section">
  <div class="textseparator"><h1>Updates</h1></div>
  <ul class="infobox updates">
    <li>
      <div class="time">Mar 15, 2014</div>
      Thanks for bearing with us.  Here is a final listing of all prediction contestants by email username.
        <div>yxyang</div>
        <div>rmxu</div>
        <div>matted</div>
        <div>garthee</div>
        <div>mgymrek</div>
        <div>saclarke</div>
        <div>tcleung</div>
        <div>mfeng</div>
        <div>ncvc</div>
        <div>qys</div>
        <div>zhaozl</div>
        <div>jerrysun</div>
        <div>sangwen</div>
        <div>wpli</div>
        <div>antonw</div>
        <div>lyons66</div>
        <div>bolei</div>
        <div>francky</div>
        <div>kimci</div>
        <div>mingot</div>
        <div>theja</div>
        <div>raminm</div>
        <div>ayblonski</div>
        <div>camarait.edu</div>
        <div>eugenewu</div>
    </li>
    <li>
      <div class="time">Mar 12, 2014</div>
      The following is a link to the ground truth for the final prediction challenge.
      <a href="/download/pickups_test2.csv">Download ground truth</a>
    </li>

    <li>
      <div class="time">Mar 5, 2014 11:40AM</div>
      We have now posted the final visualization and prediction challenge 
      winners.  Thank you to everyone who participated!
    </li>
    <li>
      <div class="time">Feb 28 3:04pm</div>
      Several teams did not see themselves on the final prediction challenge rankings.  
      We are sorry about this oversight and are looking into putting up a complete list
    </li>


    <li>
      <div class="time">Feb 27 6:30pm</div>
      Now that the final ceremony has ended, here is the final ranking of the prediction challenge contestants!<br/>
      <div style="text-align: center">
        We are currently updating the final list.  Stay tuned!
      </div>
    </li>

      
    <!--
    <li> 
      <div class="time">Jan 21 11:00am</div>
      The challenge has ended!  All submissions after Jan 20, 11:59:59PM will not be considered.
      The winners of both challenges will be announce at
      the final event on February 5th.   The scores for the final predictions will be released that day as well.
    </li>
    <li> 
      <div class="time">Jan 7 9:00pm</div>
      The final prediction points and submission form
      have been released. <a href="/prediction_test2">Click here</a> to submit.<br/><br/>
      The ground truth data from the initial test is <a href="/datasets">on the datasets page</a>.
    </li>
    -->
  </ul>
</div>



<div class="section">
  
  <div class="heading">
  <div class="textseparator"><h1>Congratulations to the winners!</h1></div>

  <div class="textseparator"><h2>Prediction Challenge</h2></div>


  <ul class="winners">
    <li>
    <div>
    <div class="team">HUMNET</div>
    <div class="people">Lauren Alexander, Serdar Colak, Suma Desu, Jameson Toole, Yingxiang Yang <br/> MIT, Civil and Environmental Engineering</div>
    </div>
    </li>


    <li>
    <div>
    <div class="team">PIGGY XU</div>
    <div class="people">Runmin Xu, MIT, Civil and Environmental Engineering and<br/>Yihan Xu, NEU</div>
    </div>
    </li>


    <li>
    <div>
    <div class="team">MATTED</div>
    <div class="people">Matthew Edwards, MIT EECS</div>
    </div>
    </li>

    <li>
    <div>
    <div class="team">GARTHEE</div>
    <div class="people">Gartheeban Ganeshapillai, MIT CSAIL</div>
    </div>
    </li>

    <li>
    <div>
    <div class="team">TAXIOMICS</div>
    <div class="people">Jenny Chen, Melissa Gymrek, Thomas Willems,  MIT</div>
    </div>
    </li>

    <li>
    <div>
    <div class="team">SACLARKE</div>
    <div class="people">Sean Clarke, MIT and<br/> Christoph Hafemeister, NYU</div>
    </div>
    </li>

  </ul>

  <div class="textseparator"><h2>Visualization Challenge</h2></div>


  <ul class="winners">
    <li>
    <div>
    <div class="team">GARTHEE</div>
    <div class="people">Gartheeban Ganeshapillai, MIT CSAIL</div>
    <div class="url"><a href="http://bostonrides.info/">http://bostonrides.info/</a></div>
    </div>
    </li>

    <li>
    <div>
    <div class="team">JAMESON</div>
    <div class="people">Jameson Toole, MIT, Human Mobility and Networks Lab, 
      Engineering Systems Division</div>
    <div class="url"><a href="http://viz.jamesontoole.com/map">http://viz.jamesontoole.com/map</a></div>
    </div>
    </li>

    <li>
    <div>
    <div class="team">KVGH</div>
    <div class="people">Kael Greco, Veronica Adelle Hannan, MIT</div>
    <div class="url"><a href="http://senseable3.mit.edu/bigDataChallenge/">http://senseable3.mit.edu/bigDataChallenge/</a></div>
    </div>
    </li>


  </ul>


  </div>
</div>




<div class="section">
  
  <div class="heading">
  <div class="textseparator"><h1>Introduction</h1></div>
    <p>What can we learn from 2.3 Million Taxi Rides?
    <p>The MIT Big Data Initiative at CSAIL working in partnership with the City of Boston is hosting a Big Data Challenge seeking to develop innovative prediction algorithms and compelling visualizations of transportation in the Boston area.</p>

    <div class="launch-dates">
      <div class="launch-date">
        <div class="launch-label">Launch</div>Nov 12, 2013
      </div>
      <div class="launch-date">
        <div class="launch-label">End Date</div>Jan 20, 2014
      </div>
      <div style="clear: both;"></div>
    </div>

    <div class="prizes">
      $10,000 in prize money!
    </div>

  </div>
</div>

{% leaderboard %}

<div class="section thanks">
  <div class="textseparator"><h2>Brought to you by</h2></div>
  <div><img style="display:block;margin:auto;"src="static/img/bigdata.png" alt="bigdata@CSAIL" title="bigdata@CSAIL" id="sitelogo" width="250px"></div>
  <div><img class="company-logo" src="static/img/trans.png" width="250px" style="display:block; margin:auto; margin-top: 2em;"></div>

  <h2 >In collaboration with</h2>

  <div class="company-logos">
      <img class="company-logo" src="http://www.mbta.com/images/logo-mbta.gif" width=150px>
      <img class="company-logo" src="http://www.telenav.com/include/pg-inc/images/logo.png" width=125px> 
      <img class="company-logo"  src="static/img/cmt.png" width=100px >
  </div>
  <div class="company-logos">
      <img class="company-logo" src="static/img/cityofboston.png" alt="City of Boston" width="120px"> 
      <img class="company-logo" src="static/img/twitter.png" alt="Twitter Inc." width=85px>
      <img class="company-logo" src="/static/img/gnip.png" alt="GNIP" width=120px>
  </div>
</div>

 <!--<img class="company-logo" src="http://mitbigdata.scripts.mit.edu/wp/wp-content/uploads/2013/09/BigDataExplorersLogo.jpg" width=100px>-->
 
<div class="section">
  <div class="textseparator"><h1>Motivation</h1></div>

  <p>
The City of Boston is interested in gaining new insights into how people use all modes of transportation travel in and around the downtown Boston area.   A critical imperative of Boston's Complete Streets Policy is to move all modes of transportation more efficiently and to use real-time data to facilitate better trip-planning between modes of transportation.   With urban congestion on the rise, city planners are looking for ways to improve transportation such as providing people with more options to get from one place to another (walking, biking, driving, or using public transit) and by reducing and more efficiently routing vehicles in the city.
  </p>


  <p>
This MIT Big Data Challenge will focus primarily on one mode of public transportation: Taxi Cabs.  By better understanding patterns in taxi ridership, we hope to provide new insights for city planners, such as:
  </p>

  <ul>  
    <li>How to get more cabs where they are needed, when they are needed?
    <li>What are the ideal locations for cab stands?
    <li>When and where should the City add or remove cab stands?
    <li>How many cabs should be waiting around a specific location at a specific time of day?
    <li>Are there viable alternatives to taking a cab?
    <li> Are there easy ways to 'link trips' between cabs and other forms of transportation?
    <li>How does taxi ridership patterns differ on weekdays vs. weekends? Seasonally? During different types of events?
    <li>Where should you go at 1am to catch a cab downtown?
    <li>Do Bruins fans take more cabs than Celtics fans? Does the result of the game impact transportation patterns?
</ul>

</div>




<div class="section">
  <div class="textseparator"><h1>Prediction Challenge</h1></div>


  <p>Here the goal is to predict the number of taxi trips originating
  at different times of day from different locations around city.
  A total of $5000 will be awarded (a $4000 winner and a $1000
  runner-up).</p>

  <a href="/prediction"><div
  class="buttonHolder"><button>Participate!</button></div></a>
</div>


<div class="section">
  <div class="textseparator"><h1>Visualization Challenge</h1></div>

  <p>Visualization Challenge:  Here the goal is to produce the most
  compelling visualization (static, animated or interactive) of
  taxi activity in Boston. A total of $5000 will be awarded (a $4000
  winner and a $1000 runner-up).</p>

  <p>Submissions will be judged by a <a href="/visualization">distinguished
  panel of visualization experts</a>!</p>


  <a href="/visualization"><div class="buttonHolder"><button>Participate!</button></div></a>
</div> <!-- close section -->



{% endblock %}
