{% extends "base.html" %}
{% load home_extras %}


{% block content %}

{% if user.is_authenticated %}
  {% infobox user %}
{% endif %}

<div class="section">
  <p align="center">Brought to you by</p>
  <table class="table text-center" align="center"><tr ><td width="50%" class="text-center">
    <img align="center" src="http://bigdata.csail.mit.edu/sites/bigdata/files/bigdata_logo.png" alt="bigdata@CSAIL" title="bigdata@CSAIL" id="sitelogo" width="100px">
<td width="50%" class="text-center">
            <img  align="center"  src="http://transportation.mit.edu/sites/default/files/translogo.png" width="200px"></tr>
  </table>
  <p align="center">Special thanks to our data partners</p>

    <table  class="table" align="center"><tr class="text-center"><td  width="33%">     <div style="display:block;margin:auto;"> <img src="http://www.cityofboston.gov/images_documents/seal%20443_tcm3-27739.png" width="100px"></div>
<p align="center">City of Boston</p><td  width="33%"><img align="center" src="http://www.mbta.com/images/logo-mbta.gif" width=150px><td  width="33%"><img align="center" src="http://www.telenav.com/include/pg-inc/images/logo.png" width=100px> </tr>
    <tr class="text-center"><td  width="33%"><img src="https://abs.twimg.com/a/1380186724/images/resources/twitter-bird-callout.png" width=60px><p align="center">Twitter</p><td>BigDataExplorers@MIT<td>Creative Mobile Technologies LLC
  </table>

</div>

{% leaderboard %}


<div class="section">
  
  <div class="heading">
  <div class="textseparator"><h1>Introduction</h1></div>
    <p>What can we learn from 2.3 Million Taxi Rides?
    <p>The MIT Big Data Initiative at CSAIL working in partnership with the City of Boston is hosting a Big Data Challenge seeking to develop innovative prediction algorithms and compelling visualizations of transportation in the Boston area.</p>


  </div>
</div>

<div class="section">
  <div class="textseparator"><h1>Motivation</h1></div>

  <p>
The City of Boston is interested in gaining new insights into how people use all modes of transportation travel in and around the downtown Boston area.   A critical imperative of Boston's Complete Streets Policy is to move all modes of transportation more efficiently and to use real-time data to facilitate better trip-planning between modes of transportation.   With urban congestion on the rise, city planners are looking for ways to improve transportation such as providing people with more options to get from one place to another (walking, biking, driving, or using public transit) and by reducing and more efficiently routing vehicles in the city.
  </p>


  <p>
This MIT Big Data Challenge will focus primarily on one mode of public transportation: Taxi Cabs.  By better understanding patterns in taxi ridership, we hope to provide new insights for city planners, such as:
  </p>

  <ul>  
    <li>How to get more cabs where they are needed, when they are needed?
    <li>What are the ideal locations for cab stands?
    <li>When and where should the City add or remove cab stands?
    <li>How many cabs should be waiting around a specific location at a specific time of day?
    <li>Are there viable alternatives to taking a cab?
    <li> Are there easy ways to 'link trips' between cabs and other forms of transportation?
    <li>How does taxi ridership patterns differ on weekdays vs. weekends? Seasonally? During different types of events?
    <li>Where should you go at 1am to catch a cab downtown?
    <li>Do Bruins fans take more cabs than Celtics fans? Does the result of the game impact transportation patterns?
</ul>

</div>




<div class="section">
  <div class="textseparator"><h1>Prediction Challenge</h1></div>

  <!--
  <p>
  The competition is open to individuals or teams.  The only requirement is that one team member must be a member of the MIT community (have an Athena account and MIT certificates).
  </p>

  <p>
  The competition will run from XXX to YYY and focuses on two tasks, prediction and visualization, with separate prizes in each category:
  </p>
  -->

  <p>Here the goal is to predict the number of taxi trips originating at different times of day from different locations around city.   A total of $5000 will be awarded (a $4000 winner and a $1000 runner-up).</p>
  
  <a href="/prediction"><div class="buttonHolder"><button>Participate!</button></div></a>
</div>


<div class="section">
  <div class="textseparator"><h1>Visualization Challenge</h1></div>

  <p>Visualization Challenge:  Here the goal is to produce the most compelling visualization (static, animated or interactive) of taxi activity in Boston. A total of $5000 will be awarded (a $4000 winner and a $1000 runner-up).</p>


  <a href="/visualization"><div class="buttonHolder"><button>Participate!</button></div></a>
</div> <!-- close section -->



{% endblock %}
