{% extends "base.html" %}
{% block content %}

<div class="section">
<div class="textseparator"><h1>Rules</h1></div>



<p>In order to enter the MIT BigData Challenge (the “Contest”), you
must agree to the <a href="/static/rules.pdf">Official Rules
(“Rules”)</a>. You agree that submission of an entry (“Entry”) to
either the Prediction or Visualization Challenge constitutes your
full and unconditional agreement to the Rules, and you represent
and warrant that you have read, understood, and agree to be bound
by the Rules.</p>

<p>
<a href="/static/rules.pdf"><button>Download a complete copy of the Rules (PDF)</button></a>
</p>

<p>A short summary of a few of the rules is provided below. However,
you must agree to the complete rules to participate!</p>

<ul style="margin-left: 0px">
  <li>One account per team, one participant must have MIT account</li>
  <li>There is no limit to your team size.</li>
  <li>Data is provided for use in the contest only. You may not post or redistribute it, or use it for purposes other than the contest.</li>
  <li>You will not attempt to use the data to extract personal information about any individual.</li>
  <li>You will provide us with your source code (if relevant)</li>
  <li>You will allow MIT and the City of Boston to copy, distribute, display, and make derivatives of your work without any compensation to you.</li>
  <li>You are the owner of your submission.</li>
  <li>We reserve the right to disqualify any entry, and you agree not to hold us liable for anything in connection with the contest.</li>
  <li>We will provide the prize to the registered account holder; teams are responsible for divvying up money amongst themselves.</li>
</ul>    

 
</div>


<div class="section">
<div class="textseparator"><h1>Contact Us</h1></div>

<p style="text-align: center">Feel free to <a href="mailto:bigdatachallenge@gmail.com">Contact Us</a> about any questions regarding the competition</p>
</div>

{% endblock %}
