{% extends "base.html" %}



{% block content %}
<script src="/static/js/gg.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/gg.css"/>

<div class="section">
  
  <div class="textseparator"><h1>Stats</h1></div>
  <p>
    number of prediction submissions: {{npsubmissions}}
  </p>
  <p>
    number of viz submissions: {{nvsubmissions}}
    <a href="#" onclick='$("#vis_submissions").toggle()'>showall</a>
    <div id="vis_submissions" style="display:none">
    <ul>
      {% for s in vsubmissions %}
      <li>{{s.user.email}}: <a href="{{s.url}}">{{s.url}}</a>
      {% endfor %}
    </ul>
    </div>
  </p>

  <p>
    number of users: {{nusers}}
  </p>
  <p>
    <div id="plot"></div>
  </p>
  <ul>
    {% for u in users %}
    <li>{{u.email}}</li>
    {% endfor %}
  </ul>

</div>

<script>
  $(function() {
    var data = {{counts|safe}};

    console.log(data);
    var spec = {
      layers: [{geom: 'rect'}],
      aes: {
        x: "{new Date(x)}"
      },
      scales: {x: 'time'},
      data: data,
      opts: { w: 800, h: 400 }
    };
    var plot = gg(spec);
    plot.render(d3.select('#plot'));
  });
</script>

{% endblock %}

