{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}


<div class="section">
<p>
Hi {{user.username}}, this is your profile page.
</p>


<a href="">Submit a new prediction</a>
<a href="">Submit a new visualization</a>
</div>

<div class="section">
  <a name="predict"></a>
<div class="textseparator"><h1>Your prediction submissions</h1></div>

  {% include "home/past_submissions.html" %}


</div>

<div class="section">
  <a name="vis"></a>
<div class="textseparator"><h1>Your visualization submissions</h1></div>

  {% include "home/past_vis_submissions.html" %}


</div>


{% else %}

<div class="section">
  Please <a href="/accounts/login">login or register</a>.
</div>

{% endif %}
{% endblock %}