{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}


<div class="section">
  <div class="textseparator"><h1>Make a Submission</h1></div>
  <ul class="submit-buttons">
    <li><a href="/prediction_test1"><button>Submit final prediction</button></a></li>
    <li><a href="/visualization"><button>Submit new visualization</button></a></li>
  </ul>
</div>



<div class="section">
  <a name="vis"></a>
  <div class="textseparator"><h1>Your visualization submissions</h1></div>
  {% include "home/past_vis_submissions.html" %}
</div>

<div class="section">
  <a name="predict"></a>
  <div class="textseparator"><h1>Your prediction submissions</h1></div>
  {% include "home/past_submissions.html" %}
</div>

{% else %}

<div class="section">
  Please <a href="/accounts/login">login or register</a>.
</div>

{% endif %}
{% endblock %}