{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}


<div class="section">
<p>
Hi {{user.username}}, this is your profile page.
</p>
</div>

<div class="section">
  <a name="predict"></a>
<div class="textseparator"><h1>Prediction Challenge</h1></div>

  {% include "home/past_submissions.html" %}

  {% include "home/prediction_test_form.html" %}

</div>

<div class="section">
  <a name="vis"></a>
<div class="textseparator"><h1>Visualization Challenge</h1></div>

  {% include "home/past_vis_submissions.html" %}

  {% include "home/vis_test_form.html" %}

</div>


{% else %}

<div class="section">
  Please <a href="/accounts/login">login or register</a>.
</div>

{% endif %}
{% endblock %}