{% extends "base.html" %}
{% block content %}


<div class="section">
  <div class="textseparator"><h1>The Contest</h1></div>

  <p> 
  The Visualization Challenge goal is to visualize the
  transportation data provided in an informative, beautiful, or
  surprising way.  We are particularly interested in visualizations
  that contrast or compare taxi transportation ridership in Downtown
  and relate them to nearby events and locales.  Visualizations may
  include maps, animations, interactive websites or static graphics
  and ideally should reveal new or interesting trends and patterns.
  We will have a Judging Panel consisting of visualization experts,
  data scientists, and representatives from the City of Boston.
  </p>
  <p>
  The Judging Panel will pick the <b>top 2</b> visualizations.
  </p>


  <p style="text-align: center"><a href="/datasets"><div class="buttonHolder"><button>Download the datasets here</button></div></a></p>

  <h2>The Judging Panel</h2>

  <ul>
  <li>Vineet Gupta, Transportation Planning Director, City of Boston
  <li>Haris Koutsopoulos, Research Associate and Professor of Transport Science, MIT
  <li>Carlo Ratti, Senseable City Lab, MIT
  <li>Mona Vernon, Emerging Technology, Thomson Reuters
  <li>Martin Wattenberg, Google, Cambridge Lab
  </ul>

</div>

<div class="section">
  <a name="submit"></a>
  <div class="textseparator"><h1>Submission</h1></div>

  {% include "home/vis_test_form.html" %}


</div>

{% include "home/disqus.html" %}

{% endblock %}
