{% extends "base.html" %}
{% block content %}

<div class="section">
  <div class="heading">
  <p>
  The Visualization Challenge goal is to visualize the transportation data provided in an informative, beautiful, or surprising way.  We are particularly interested in visualizations that contrast or compare taxi transportation ridership in Downtown and relate them to nearby events and locales.  Visualizations may include maps, animations, interactive websites or static graphics and ideally should reveal new or interesting trends and patterns.  We will have a Judging Panel consisting of visualization experts, data scientists, and representatives from the City of Boston.


  </div>


  <h2>The Judging Panel</h2>

  <ul>
  <li>Martin Wattenberg, Google, Cambridge Lab
  <li>Mona Vernon, Emerging Technology, Thomson Reuters
  <li>Carlo Ratti, Senseable City Lab, MIT
  <li>City of Boston (TBD)
  </ul>

</div>

<div class="section">
  <div class="textseparator"><h1>The Contest</h1></div>


  <p style="text-align: center"><a href="/datasets"><div class="buttonHolder"><button>Download the datasets here</button></div></a></p>

  {% include "home/vis_test_form.html" %}


</div>

<div class="section">
<div class="textseparator"><h1>Rules</h1></div>

<p>
In order to enter the MIT BigData Challenge (the "Contest"), you must agree to the Official Rules ("Rules").   You agree that submission of an entry ("Entry") to either the Prediction or Viz Challenge constitutes your full and unconditional agreement to the Rules, and you represent and warrant that you have read, understood, and agree to be bound by the Rules.
<p>
<a href="static/rules.pdf">Click here</a> to download a complete copy of the Rules in PDF format.
<p>
A short summary of a few of the rules is provided for your convenience below. 

<ul>
<li>One account per participant, one participant must have an MIT certificate, and there is no limit to your team size.</li>

<li>Data is provided for use in the contest only.  You may not post or redistribute it, or use it for purposes other than the contest.</li>

<li>You will not attempt to use the data to extract personal information about any individual.</li>

<li>You will provide us with your source code (if relevant), and you will allow MIT and the City of Boston to copy, distribute, display, and make derivatives of your work without any compensation to you.</li>

<li>You are the owner of your submission.</li>

<li> We reserve the right to disqualify any entry, and you agree not to hold us liable for anything in connection with the contest. </li>

<li> We will provide the prize to the registered account holder;  teams are responsible for divvying up money amongst themselves. </li>

</div>


<div class="section">


</div>

{% endblock %}
